:root {
  --main-bg-color: #202020;
  --second-bg-color: #2d2727;
  --main-text-color: #ffffff;
  --second-text-color: #f65282;
  --main-font-family: "Roboto", sans-serif;
}
body {
  text-align: center;
  background-color: var(--main-bg-color);
}
.bg-dark {
  background-color: var(--main-bg-color);
  padding: 25px 25px;
}

.navbar-collapse {
  justify-content: end;
}

.container-fluid {
  margin: 5px auto;
}

.navbar {
  padding: 0 15px;
}

.logo-img {
  margin-left: 10px;
}

.hero {
  text-align: center;
  padding: 5px 5px;
  margin: 5px;
  height: 680px;
  background-image: url(../images/cityscape.jpg);
  background-position: center, center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

.aboutme-hero {
  text-align: left;
}

h1 {
  text-align: center;
  color: var(--main-text-color);
  font-family: var(--main-font-family);
  font-weight: bold;
  font-size: 72px;
  letter-spacing: 8px;
  margin: auto 25px;
}

.aboutme-image {
  text-align: right;
}

.aboutme h1 {
  font-size: 64px;
  text-align: left;
  margin-left: 0;
}

h2 {
  color: var(--second-text-color);
  font-family: var(--main-font-family);
  font-weight: bold;
  font-size: 24px;
  letter-spacing: 10px;
  margin-top: 45px;
}
.sub-heading {
  margin-top: 20px;
  font-size: 18px;
  font-weight: bold;
  letter-spacing: 2px;
  color: var(--second-text-color);
}

p {
  color: var(--main-text-color);
  font-family: var(--main-font-family);
  font-weight: normal;
  font-size: 18px;
  line-height: 30px;
  letter-spacing: 1px;
}

.aboutme-text {
  margin-right: 85px;
}

.skills {
  background-color: var(--second-bg-color);
  padding: 20px 20px;
  margin-top: 20px;
  margin-right: 95px;
}

/*font-family: 'Montserrat', sans-serif;
font-family: 'Roboto', sans-serif;*/

.btn {
  color: var(--main-bg-color);
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  font-size: 14px;
  letter-spacing: 1.5px;
  border-radius: 30px;
  border-color: var(--main-text-color);
  padding: 14px 35px;
  background-color: var(--main-text-color);
}

.sm-links {
  color: var(--main-text-color);
  opacity: 48%;
  position: relative;
  justify-content: space-between;
}

img {
  border-radius: 2px;
}

.image-text {
  font-size: 14px;
  letter-spacing: 1.5px;
}

.box {
  flex: 1;
  overflow: hidden;
  transition: 0.9s;
  margin: 0 35px;
  box-shadow: 0 20px 30px rgba(0, 0, 0, 0.1);
  line-height: 0;
}

.box > img {
  width: 150%;
  height: calc(100% - 10vh);
  object-fit: cover;
  transition: 1.5s;
}

.box > span {
  font-size: 3.8vh;
  display: block;
  text-align: center;
  height: 10vh;
  line-height: 2.6;
}

.box:hover {
  flex: 1 1 30%;
}
.box:hover > img {
  width: 100%;
  height: 100%;
}

.contact-text {
  letter-spacing: 1.2px;
  padding: 10px 10px;
}

.address-email-whatsapp {
  margin-top: 105px;
}
.contact-content {
  margin: 45px auto;
}

footer {
  background-color: var(--second-bg-color);
  padding: 20px 20px;
  margin-bottom: 0;
}

.footer-text {
  font-size: 16px;
  font-weight: normal;
}

@media (max-width: 767px) {
  .container-fluid {
    padding: 0;
  }

  .hidden-mobile {
    display: none;
  }
  h1 {
    font-size: 42px;
  }
  .aboutme {
    margin: 2px auto;
  }
  .aboutme h1 {
    font-size: 42px;
    text-align: center;
    margin: auto;
  }
  .aboutme-hero {
    text-align: center;
  }

  .aboutme-text {
    margin: 10px auto;
  }
  .skills {
    margin: 10px auto;
  }
  h2 {
    font-size: 18px;
  }
  p {
    font-size: 14px;
  }
  .btn {
    font-size: 10px;
  }
  .box {
    flex: none;
    height: 100%;
    margin: 0 auto;
  }
  .box:hover {
    flex: none;
  }
  .mywork-heading {
    margin-top: 5px;
  }
  .mywork.container-fluid {
    margin-right: 12px;
  }
}
